.box-one {
    background-color:red;
    padding: 20px;
    height: 100px;
    width: 100px;
    margin:20px;
    border: 10px solid pink;
    
}

.box-two {
    background-color: green;
    border: 20px solid violet;

}

* {
    padding:0;
    margin: 0;
    font-size: 40px;
    box-sizing: border-box;
}