.container {
    background-color: pink;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

button {
    background-color: orange;
    font-size:18px;
}

.header {
    background-color: red;
}

.odd {
    background-color: #FF6666;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#second {
    color:blue;
    font-size: 36px;
}

#third {
    font-size:24px;
}

#fourth {
    background-color: lightgreen;
    font-size:24px;
    font-weight: bold;
}