* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #5995da;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    /*border: 1px solid #fff;*/
    width: 900px;
    display:flex;
    justify-content: space-between;
}

.links {
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content:center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*with above align-items strech*/
/*.social,
.logo,
.subscribe {
    border: 1px solid #5995DA;
}*/

.photo-grid-container {
    display:flex;
    justify-content: center;
}

.photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*flex-direction: column;
    align-items: center;*/
    flex-direction: row;
    align-items: center;
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}

.first-item {
    order: 1;
}

.last-item {
    order: -1;
}

.social,
.subscribe {
    align-self: flex-end;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
}

/*.footer-three {
    flex:2;
}*/

.footer-one,
.footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
}

.signup {
    margin-left: auto;
  }

  .nav-container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
}

html, body {
   box-sizing: border-box;
    align-items: center;
    justify-self: center;
}

.nav-container > div:nth-child(1) {
    background-color: #96ceb4;
}

.nav-container > div:nth-child(2) {
    background-color: #ff6f69;
}

.nav-container > div:nth-child(3) {
    background-color: #88d8b0;
}

.nav-container {
    border: 5px solid #ffcc5c;
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    height: 100%;*/
    
  }

  /*.logout {
    align-self: flex-start;
  }*/

  /*.search {
    margin-left: auto;
  }*/

  .home,
  .logout {
      /*margin-right: auto;*/
      flex: 1; 
    }
  

  /*.nav-container > div {
    flex:1;
    /*width: 33.3333%;*/
 /* }*/

  /*.nav-container > .home,
  .nav-container > .logout  {
    flex:2;
  }*/

a {
    text-decoration: none;
    color: #ffeead;
}